<%- include('../partials/head.ejs'); -%>
    <%- include('../partials/navbar-top.ejs'); -%>
    <div class="content has-text-centered">
        <h1>Bienvenido a Nat Efficiency</h1>
      </div>
        <div class="level">
            <div class="level-item">
                <form action="login" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <fieldset>
                        <legend>Para ingresar sesi칩n ingresa usuario y contrase침a</legend>
                        <br>
                        <label for="username"> Usuario:</label>
                        <input class="input" id="username" name="username" type="text"  placeholder="Hugo Sanchez" required>
                        <label for="password"> Contrase침a:</label>
                        <input class="input" id="password" name="password" type="password" placeholder="*******">
                    </fieldset>
                    <br>
                    <div class="block"><a href="/user/new">Crear un nuevo usuario</a></div>
                    <input type="submit" class="button is-link" value="Iniciar sesi칩n">
                    </form>
            </div>
        </div>
<%- include('../partials/tail.ejs'); -%>
