<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link
      rel="icon"
      href="https://storage.googleapis.com/natgas/others/logos/natgas-logo-simple.png"
      type="image/png"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Load icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/84d1cdccbc.js" crossorigin="anonymous"></script>
    <!-- Chart JS -->
    
    
</head>

<body>
    <nav class="navbar is-success"  role="navigation" aria-label="main navigation" style="background-color: #43B02A;">
        <div class="navbar-brand">
          </div>
          <div class="navbar-end">
                  <span class="navbar-item" href="">
                      <img src="https://storage.googleapis.com/natgas/others/logos/natgas-logo-simple.png" style="max-height: 50px;">
                  </span>
              </div>
          </div>
      </nav>
    <div class="content has-text-centered">
        <h1>Bienvenido al portal de proyectos</h1>
      </div>
        <div class="level">
            <div class="level-item">
                <form action="login" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <fieldset>
                        <legend>Para iniciar sesi칩n ingresa un usuario y contrase침a</legend>
                        <br>
                        <label for="username"> Correo:</label>
                        <input class="input" id="correo" name="correo" type="email"  placeholder="Hugo Sanchez" required>
                        <label for="password"> Contrase침a:</label>
                        <input class="input" id="password" name="password" type="password" placeholder="*******">
                    </fieldset>
                    <br>
                    <div class="block"><a href="/user/new">Crear un nuevo usuario</a></div>
                    <input type="submit" class="button is-link" value="Iniciar sesi칩n">
                    </form>
            </div>
        </div>
<%- include('../partials/tail.ejs'); -%>
