<style>
    #background {
        background-color: #002B49;
    }
</style>
<div class="columns ">
    <div class="column is-2 is-section is-fullheight" id="background">
        <aside class="column">
            <ul class="menu-list has-icons-left">
                <li>
                    <a class="button is-rounded is-large is-link">
                        <span class="icon"><i class="fa-solid fa-file-lines"></i></span>
                        <span>Actividades</span>
                    </a>
                </li>
                <br><br><br>
                <li>
                    <a href="#" class="button is-rounded is-large is-primary">
                        <span class="icon">
                            <i class="fa-solid fa-diagram-project"></i></span>
                            <span>Proyectos</span>
                    </a>
                </li>
                <br><br><br>
                <li>
                    <a href="#" class="button is-rounded is-large is-info">
                        <span class="icon is-small"><i class="fa-solid fa-people-group"></i></span><span>Colaboradores</span>
                    </a>
                </li>
                <br><br><br>
                <li>
                    <a href="#" class="button is-rounded is-large is-danger">
                        <span class="icon is-small"><i class="fa-solid fa-chart-column"></i></span>
                        <span>Reportes</span>
                    </a>
                </li>
                <br><br><br>
            </ul>
        </aside>
    </div>
    <div class="section">
