<%- include('partials/head.ejs'); -%>
<%- include('partials/sidebar.ejs'); -%>
<div class="is-size-1">Actividades Recientes</div>
<br>
    <div class="card">
                <div class="card-content">
                        <table class="table is-fullwidth">
                                <thead>
                                    <tr>
                                        <th><abbr>#</abbr></th>
                                        <th>Proyecto</th>
                                        <th>Actividad</th>
                                        <th>Duración</th>
                                        <th>Colaboradores</th>
                                        <th>Fecha</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Amanda</td>
                                    <td>Holmes</td>
                                    <td>Female</td>
                                    <td>22</td>
                                    <td>a.holmes@randatmail.com</td>
                                    <td>
                                            <a class="button is-small is-primary">View</a>
                                            <a class="button is-small is-danger">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                        <td>2</td>
                                        <td>Amanda</td>
                                        <td>Holmes</td>
                                        <td>Female</td>
                                        <td>22</td>
                                        <td>a.holmes@randatmail.com</td>
                                        <td>
                                                <a class="button is-small is-primary">Small</a>
                                                <a class="button is-small is-danger">Delete</a>
                                        </td>
                                </tr>
                                <tr>
                                        <td>3</td>
                                        <td>Amanda</td>
                                        <td>Holmes</td>
                                        <td>Female</td>
                                        <td>22</td>
                                        <td>a.holmes@randatmail.com</td>
                                        <td>
                                                <a class="button is-small is-primary">Small</a>
                                                        <a class="button is-small is-danger">Delete</a>
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
    </div>
<!-- <div class="is-size-1">Actividades Recientes</div>
<div class="section">
    <div class="card">
      <div class="card-header"><p class="card-header-title">Header</p></div>
      <div class="card-content"><div class="content">Content</div></div>
    </div>
    <br />
    
    <div class="card is-hidden1">
      <div class="card-header"><p class="card-header-title">Header</p></div>
      <div class="card-content"><div class="content">Content</div></div>
    </div>
    <br />
    
    <div class="card is-hidden1">
      <div class="card-header"><p class="card-header-title">Header</p></div>
      <div class="card-content"><div class="content">Content</div></div>
    </div>
    <br />
    
    <div class="card is-hidden1">
      <div class="card-header"><p class="card-header-title">Header</p></div>
      <div class="card-content"><div class="content">Content</div></div>
    </div>
    <br />
    
    <div class="card is-hidden1">
      <div class="card-header"><p class="card-header-title">Header</p></div>
      <div class="card-content"><div class="content">Content</div></div>
    </div>
    <br />
    
    <div class="card is-hidden1">
      <div class="card-header"><p class="card-header-title">Header</p></div>
      <div class="card-content"><div class="content">Content</div></div>
    </div>
    <br />
    
  </div>
</div> -->


  <%- include('partials/tail.ejs'); -%>
