
  <section class="section is-small">
    <div class="field">
      <p class="control has-icons-right">
        <input class="input is-rounded" type="text" placeholder="Busca colaborador">
        <span class="icon is-small is-right">
          <i class="fas fa-magnifying-glass"></i>
        </span>
      </p>
    </div>
  </section>
  <!------------==                         COLLABORATOR LIST BEGINS                         ==------------>
  <div class="table-container">
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Lider</th>
          <th>Proyectos</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Pedro Manzo Vergara</td>
          <td>Julían Juárez Moreno</td>
          <td>Proyecto1, Proyecto2, Proyecto3</td>
        </tr>

        <tr>
          <td>Ana María Vasconcelos</td>
          <td>Julían Juárez Moreno</td>
          <td>Proyecto1, Proyecto3</td>
        </tr>

        <tr>
          <td>Juan José Domínguez</td>
          <td>Ana Karen Oliveros Nieto</td>
          <td>Proyecto1, Proyecto2, Proyecto3</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!------------==                         COLLABORATOR LIST ENDS                           ==------------>

</body>

</html>