<%- include('partials/head.ejs'); -%>
  <%- include('partials/navbar-top.ejs'); -%>
    <%- include('partials/sidebar.ejs'); -%>
    <div class="columns">
        <div class="column">
            <div class="title">¡Error 404! El recurso solicitado no existe</div>
        </div>
    </div>
        <%- include('partials/tail.ejs'); -%>