
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child">
              <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                  <tr>
                    <th>Nombre del Proyecto</th>
                    <th>Total Horas Registradas</th>
                    <th>Total Horas Ajustadas</th>
                  </tr>
                </thead>
                <tbody>
                  <% let total = 0 %>
                  <% let count = 0 %>
                  <% for (pa of proyectos_diez) { %>
                    <% total += pa.total_horas %>
                    <% count++ %>
                    <tr>
                      <td><%=  pa.nombre_proyecto%></td>
                      <td><%=  pa.total_horas%></td>
                      <td><input id="<%- 'proy'+count %>" class="input"> </input></td>
                    </tr>        
                    <% } %>
                </tbody>

                <tfoot>
                  <tr>
                    <th>Total</th>
                    <td id="horas_totales_registradas"><%- total %> </td>
                    <td id="horas_totales_ajustadas"> 0 </td>
                  </tr>
                </tfoot>
              </table>
            </article>
          </div>
        </div>
      </div>

 