<div class="columns">
<div class="column is-offset-1">
      <table id="horas_ajustades_vs_horas_registradas" class="table is-bordered is-hoverable is-narrow" oninput="checkAjuste()">
        <thead>
          <tr>
            <th>Nombre del Proyecto</th>
            <th>Total Horas Registradas</th>
            <th>Total Horas Ajustadas</th>
          </tr>
        </thead>
        <tbody>
          <% let total=0 %>
            <% for (pa of proyectos_diez) { %>
              <% total += pa.total_horas %>
                <tr>
                  <td>
                    <%= pa.nombre_proyecto%>
                  </td>
                  <td>
                    <%= pa.total_horas.toFixed(2)%>
                  </td>
                  <td><input id="proy" class="input is-narrow"> </input></td>
                </tr>
                <% } %>
        </tbody>

        <tfoot>
          <tr>
            <th>Total</th>
            <td id="horas_totales_registradas">
              <%- total.toFixed(2) %>
            </td>
            <td id="horas_totales_ajustadas"> </td>
          </tr>
        </tfoot>
      </table>
      <script src="/js/tabla.js"></script>
  </div>