  <div class="card">
    <div class="card-content" oninput="checkAjuste()">
      <table id="user_table" class="table is-bordered is-striped is-narrow is-hoverable" oninput="renderChart()">
        <tbody>
          <tr>
            <th>Coeficiente</th>
            <td><input id="coeficiente" class="input" type="text"
              name="coeficiente" placeholder=<%=coeficiente_efectividad.toFixed(2)%>></td>
          </tr>
          <tr>
            <th>Vacaciones TM</th>
            <td><input id="v_tm" class="input" type="text" name="vacaciones_tm" placeholder="12"></td>
          </tr>
          <tr>
            <th>Vacaciones TC</th>
            <td><input id="v_tc" class="input" value=<%=horas_vacaciones%> type="text" name="vacaciones_tc"
              placeholder="5"></td>
          </tr>
          <tr>
            <th>NGblock TM</th>
            <td><input id="ng_tm" class="input" value="0" type="text" name="ngblock_tm" placeholder="0"></td>
          </tr>
          <tr>
            <th>NGblock TC</th>
            <td><input id="ng_tc" class="input" value="0" type="text" name="ngblock_tc" placeholder="0"></td>
          </tr>
          <tr>
            <th>Horas semanales TC</th>
            <td><input id="horas_tc" class="input" placeholder="35" oninput="capTotal()"></td>
          </tr>
          <tr>
            <th>Horas semanales TM</th>
            <td><input id="horas_tm" class="input" placeholder="17" oninput="capTotal()"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


<% let tiempo_comp=0 %>
  <% let tiempo_medio=0 %>
    <% for (e in empleados) { %>
      <% Object.entries(empleados[e]).forEach((entry)=> { %>
        <% const [key, value]=entry;%>
          <% if (key=='is_tiempo_completo' && value==0) {tiempo_medio++;} %>
            <% if (key=='is_tiempo_completo' && value==1) {tiempo_comp++;} %>
              <% });%>
                <% }%>

                <!-- TABLA 3 BEGIN -->
                
                <div class="card">
                      <div class="card-content">
                        <table class="table is-bordered is-striped is-narrow" oninput="vacaciones()">
                          <tbody>
                            <tr>
                              <th>Personal tiempo medio</th>
                              <td><input class="input" id="personal_tm" value="<%=tiempo_medio%>" readonly></td>
                            </tr>
                            <tr>
                              <th>Personal tiempo completo</th>
                              <td><input class="input" id="personal_tc" value="<%=tiempo_comp%>" readonly></td>
                            </tr>
                            <tr>
                              <th>Horas esperadas</th>
                              <td><input class="input" id="horas_esperadas" readonly></td>
                            </tr>
                            <tr>
                              <th>Proporción</th>
                              <td><input class="input" id="proporcion" type="text" readonly></td>
                            </tr>
                            <tr>
                              <th>Capacidad total</th>
                              <td><input class="input" id="capacidad_total" type="text" readonly></td>
                            </tr>
                            <tr>
                              <th>Horas vacaciones</th>
                              <td><input class="input" id="vacaciones_totales" type="text" readonly></td>
                            </tr>
                            <tr>
                              <th>Porcentaje verdadero</th>
                              <td><input class="input" id="porcentaje_verdadero" type="text" readonly></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </nav>
                  
                  <!-- TABLA 3 END -->

                  <article class="message is-success">
                    <div class="message-header">
                      <p>Graph</p>
                    </div>
                    <div class="message-body">
                      User graph
                      <div id="graph-container">
                        <canvas id="myChart"></canvas>
                      </div>
                    </div>
                  </article>
                  
                  
                  <script>
                    async function getVars() {
                      let variables_ajuste = [
                        parseFloat(document.getElementById("coeficiente").value),
                        parseInt(document.getElementById("ng_tm").value),
                        parseInt(document.getElementById("ng_tc").value),
                        parseInt(document.getElementById("v_tm").value),
                        parseInt(document.getElementById("v_tc").value),
                        parseInt(document.getElementById("horas_tc").value),
                        parseInt(document.getElementById("horas_tm").value)
                      ]
                      return variables_ajuste;
                    }

                    async function createChart(variables_ajuste) {
                      let ctx_live = document.getElementById("myChart");
                      let myChart = new Chart(ctx_live, {
                        type: 'bar',
                        data: {
                          labels: ['Coeficiente', 'NG-tm', "ng_tc", "v_tm", "v_tc",],
                          datasets: [{
                            data: variables_ajuste,
                            borderWidth: 1,
                            borderColor: '#00c0ef',
                            label: 'Variables Usuario',
                          }]
                        },
                        options: {
                          responsive: true,
                          plugins: {
                            title: {
                              display: true,
                              text: 'Chart nuevo'
                            }
                          },
                          scales: {
                            x: {
                              display: true
                            },
                            y: {
                              display: true
                            }
                          }
                        }
                      });
                      return myChart;
                    }

                    const resetCanvas = function () {
                      document.getElementById('myChart').remove();
                      document.getElementById('graph-container').innerHTML = '<canvas id="myChart"></canvas>';
                      canvas = document.querySelector('#myChart');
                      ctx = canvas.getContext('2d');
                    };

                    async function renderChart() {
                      resetCanvas();
                      getVars()
                        .then(async (vars) => { createChart(vars); })
                        .catch(err => { console.log(err) })
                    }
                  </script>