
<!------------==                         TOP NAVBAR BEGINS                         ==------------>
<nav class="navbar is-success"  role="navigation" aria-label="main navigation" style="background-color: #43B02A;">
  <div class="navbar-brand">
          <div class="navbar-item">
            <a href="/home" class="button is-rounded is-light">
              <span class="icon is-small">
                <i class="fas fa-home" aria-hidden="true"></i>
              </span>
              <span>Página principal</span>
            </a>
          </div>
          <div class="navbar-item">
            <a class="button is-rounded is-dark" href="/user/logout">
              <span class="icon is-small">
              <i class="fa fa-sign-out-alt" aria-hidden="true"></i>
              </span>
              <span>Cerrar sesión</span>
            </a>
          </div>

    </div>
    <div class="navbar-end">
      <div class="navbar-item">

        Bienvenid@, <%= isLoggedIn.username %>

    </div>
            <span class="navbar-item" href="">
                <img src="https://storage.googleapis.com/natgas/others/logos/natgas-logo-simple.png" style="max-height: 50px;">
            </span>
        </div>
    </div>
</nav>
<!------------==                         TOP NAVBAR ENDS                                  ==------------>
