
<!------------==                         TOP NAVBAR BEGINS                         ==------------>
<nav class="navbar is-success"  role="navigation" aria-label="main navigation" style="background-color: #43B02A;">
    <div class="navbar-brand">
      <span class="navbar-item" href="">
        <img src="https://storage.googleapis.com/natgas/others/logos/natgas-logo-simple.png" style="max-height: 50px;">
    </span>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-size-5" href="">
              Bienvenid@, Hugo Sánchez
            </a>
            <div class="navbar-dropdown is-boxed">
              <a href="/home" class="navbar-item">
                <span class="icon is-small">
                  <i class="fas fa-home" aria-hidden="true"></i>
                </span>
                <span>Inicio</span>
              </a>
              <a class="navbar-item" href="">
                <i class="fa fa-sign-out-alt" aria-hidden="true"></i><p>Sign out</p>
              </a>
            </div>
          </div>

        </div>
    </div>
</nav>
<!------------==                         TOP NAVBAR ENDS                                  ==------------>
