<nav class="navbar is-transparent has-shadow tabs is-centered is-fullwidth is-mobile is-fixed-top" role="navigation"
    aria-label="main navigation">
    <ul style = "border-bottom-style: none;">
        <li><a href="/home">
                <span >
                    <img src="https://storage.googleapis.com/natgas/others/logos/natgas-logo-simple.png" style = "height: 1rem;">
                </span>
            </a></li>
        <li>
            <a href="/home/tareas">
                <span class="icon"><i class="fa-solid fa-file-lines"></i></span>
                <span>Tareas</span>
            </a>
        </li>
        <li>
            <a href="/home/proyectos">
                <span class="icon"><i class="fa-solid fa-diagram-project"></i></span>
                <span>Proyectos</span>
            </a>
        </li>
        <li>
            <a href="/home/colaboradores">
                <span class="icon is-small"><i class="fa-solid fa-people-group"></i></span>
                <span>Colaboradores</span>
            </a>
        </li>
        <li>
            <a href="/home/reportes">
                <span class="icon is-small"><i class="fa-solid fa-chart-column"></i></span>
                <span>Reportes</span>
            </a>
        </li>
        <li>
            <a href="/logout">
                <span class="icon is-small"><i class="fa fa-sign-out-alt"></i></span>
                <span>
                    <p>Sign out</p>
                </span>
            </a>
        </li>
    </ul>
    </div>
</nav>
<div class="columns">
    <div class="column">
