<section class="main-content columns is-fullheight">
    <aside class="column is-2 is-fullheight">
        <ul class="menu-list">
            <li>
                <a href="#" class="">
                    <span class="icon"><i class="fa fa-home"></i></span> Proyectos
                </a>
            </li>
            <li>
                <a href="#" class="is-active">
                    <span class="icon"><i class="fa fa-table"></i></span> Actividades
                </a>

                    <li>
                        <a href="#">
                            <span class="icon is-small"><i class="fa fa-link"></i></span> Colaboradores
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon is-small"><i class="fa fa-link"></i></span> Reportes
                        </a>
                    </li>
            </li>
        </ul>
    </aside>
</section>