<style>
    #background {
        background-color: #002B49;
    }
</style>
<div class="columns">
    <div class="column is-one-fifth" id="background">
        <aside class="menu">
            <ul class="menu-list">
                <br>
                <li>
                    <a class="button is-rounded is-large is-link">
                        <span class="icon"><i class="fa-solid fa-file-lines"></i></span><span>Actividades</span>
                    </a>
                </li>
                <br><br>
                <li>
                    <a href="#" class="button is-rounded is-large is-primary">
                        <span class="icon"><i class="fa-solid fa-diagram-project"></i></i></i></span><span>Proyectos</span>
                    </a>
                </li>
                <br><br>
                <li>
                    <a href="#" class="button is-rounded is-large is-info">
                        <span class="icon is-small"><i class="fa-solid fa-people-group"></i></span><span>Colaboradores</span>
                    </a>
                </li>
                <br><br>
                <li>
                    <a href="#" class="button is-rounded is-large is-danger">
                        <span class="icon is-small"><i class="fa-solid fa-chart-column"></i></span><span>Reportes</span>
                    </a>
                </li>
                <br>
            </ul>
        </aside>
    </div>
    <div class="column">


        
        
    <!-- </div>
</section> -->
