      <!-- TABLE BEGINS HERE -->
      <div class="card">
        <div class="card-content">
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Líder</th>
                <th>Colaboradores</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% for (let p of proyecto) { %>
                <tr>
                    <td> <%= p.nombre_proyecto %> </td> 
                    <td> <%= p.descripcion_proyecto %> </td> 
                    <td> <%= p.lider %> </td> 
                    <td> <%= 'sample' %> </td>
                    <td>
                      <a class="button is-primary"><span class="icon"><i class="fas fa-edit"></i></span></a>
                      <a class="button is-danger"><span class="icon"><i class="fa-solid fa-trash-can"></i></span></a>
                    </td>
                </tr>
              <% } %>

                <!-- <td>Oasis</td>
                <td>Generar un proyecto de...</td>
                <td>Juan Topo</td>
                <td>Miguel Telles, Ana Sarmiento</td>
                <td>
                  <a class="button is-primary"><span class="icon"><i class="fas fa-edit"></i></span></a>
                  <a class="button is-danger"><span class="icon"><i class="fa-solid fa-trash-can"></i></span></a>
                </td>
              </tr>
              <tr>
                <td>Oasis</td>
                <td>Generar un proyecto de...</td>
                <td>Juan Topo</td>
                <td>Miguel Telles, Ana Sarmiento</td>
                <td>
                  <a class="button is-primary"><span class="icon"><i class="fas fa-edit"></i></span></a>
                  <a class="button is-danger"><span class="icon"><i class="fa-solid fa-trash-can"></i></span></a>
                </td>
              </tr>
              <tr>
                <td>Oasis</td>
                <td>Generar un proyecto de...</td>
                <td>Juan Topo</td>
                <td>Miguel Telles, Ana Sarmiento</td>
                <td>
                  <a class="button is-primary"><span class="icon"><i class="fas fa-edit"></i></span></a>
                  <a class="button is-danger"><span class="icon"><i class="fa-solid fa-trash-can"></i></span></a>
                </td> -->
            </tbody>
          </table>
        </div>
      </div>
      <!-- TABLE ENDS HERE -->