
      <!-- TABLE BEGINS HERE -->
      <div class="card">
        <div class="card-content">
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Proyecto</th>
                <th>Actividad</th>
                <th>Duraci贸n</th>
                <th>Colaboradores</th>
                <th>Fecha</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Oasis</td>
                <td>Implementaci贸n</td>
                <td>2 hrs</td>
                <td>Miguel Telles</td>
                <td>06/09/22</td>
                <td>
                  <a class="button is-primary"><span class="icon"><i class="fas fa-edit"></i></span></a>
                  <a class="button is-danger"><span class="icon"><i class="fa-solid fa-trash-can"></i></span></a>
                </td>
              </tr>
              <tr>
                <td>Oasis</td>
                <td>Implementaci贸n</td>
                <td>2 hrs</td>
                <td>Miguel Telles</td>
                <td>06/09/22</td>
                <td>
                  <a class="button is-primary"><span class="icon"><i class="fas fa-edit"></i></span></a>
                  <a class="button is-danger"><span class="icon"><i class="fa-solid fa-trash-can"></i></span></a>
                </td>
              </tr>
              <tr>
                <td>Oasis</td>
                <td>Implementaci贸n</td>
                <td>2 hrs</td>
                <td>Miguel Telles</td>
                <td>06/09/22</td>
                <td>
                  <a class="button is-primary"><span class="icon"><i class="fas fa-edit"></i></span></a>
                  <a class="button is-danger"><span class="icon"><i class="fa-solid fa-trash-can"></i></span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- TABLE ENDS HERE -->