</div>
</div>
<footer class="footer has-background-white-ter">
  <div class="content has-text-centered ">
    <h2>Recuerda Registrar tus horas</h2>
    <p>Nadie quiere trabajar<strong> tiempo extra</strong>, por lo que cuando tengas oportunidad agrega tus horas en las areas correspondientes</p>
    <p>
      Copyright © 2022 | Natgas. Todos los derechos reservados 
    </p>
  </div>
</footer>
</body>
</html>